.App {
  text-align: center;
 
}

.mb-3 {
  width: 50%;
  
}
.cards {
  display: flex;
}
.large {
  height: 200px;
}
.btn-add {
  height: 19%;
  padding: 120px;
  float: left;
}
.search {
  display: flex;
  justify-content:space-around;
}
.rating {
  display: flex;
}
.input_search {
  display: flex;
}

